.game-info {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.game-board {
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #020202;
    background-color: #020202;
    padding: 20px;
}

#you {
    color: #2ba84a;
}

#opponent {
    color: #38aecc;
}