<% if (!user) { %>
<p>
  Welcome! Please <a href="/login">log in</a> or <a href="/signup">Sign up</a>.
</p>
<% } else { %>
<p>Hellooo, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
<% } %>
