/*buen uso y manejo de las clases css aunque falta comentar para saber a que hace refencia cada una de las clases en el front*/

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #2ba84a !important;
    border-color: #2ba84a;
}

.btn-outline-danger {
    color: #f97068;
    border-color: #f97068;
}

.btn-outline-danger:hover {
    background-color: #f97068;
    border-color: #f97068;
    color: white;
}

.btn-outline-secondary {
    color: #38aecc;
    border-color: #38aecc;
}

.btn-outline-secondary:hover {
    background-color: #38aecc;
    border-color: #38aecc;
    color: white;
}

.btn-link,
.btn-link:hover {
    color: #38aecc;
}

.text-wrong {
    color: #f97068;
}
